body{
    color: #1B1C27;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 1200px;
}

p {
    line-height: 150%;
}
h1 {
    font-size: 56px !important;
}
h2 {
    font-size: 48px !important;
}
h3 {
    font-size: 40px !important;
}
h4 {
    font-size: 32px !important;
    font-weight: 500;
}


#section-1{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a-1 a-2";
    justify-items: center;
}


#article-1{
    font-size: 56px;
    font-weight: 500;
    grid-area: a-1;
}



#article-2{
    font-size: 10px;
    grid-area: a-2;
}

#Więcej-usługi {
    text-align: center;
    background-color: #1179db;
    color: #FAFAF0 !important;
    font-size: 32px;
    font-weight: 500;

    margin-top: 10px;
    width: fit-content;
    padding: 14px 48px 14px 48px; /* stary: padding: 15px 45px 15px 45px; */
    border-radius: 40px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    transition: opacity .2s;
    cursor: pointer;
}

#Więcej-usługi:hover {
    opacity: 0.8;
    cursor: pointer;
}



#section-2{
    margin-top: 104px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#section-2 h1, #section-2 p{
    margin: 17px;
}

#article-3 p{
    font-size: 24px;
    line-height: 32px;
}



#kolo{
    padding-top: 182px;
    margin-top: 196px;
    border-radius: 50%;
    width: 2500px;
    height: 1800px;
    background-color: #E4EEF8;
}


#section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#kafelki{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    box-sizing: border-box;
}

.caly_kaf{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.kafelek{
    width: 248px;
    height: 296px;
    background-color: #FAF9F6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);

    transition: all 0.25s 0.25s;
}

.kafelek img{
    width: 96px;
    height: 96px;
    margin-top: 32px;
    margin-bottom: 20px;
}

.kafelek p{
    font-size: 32px;
    font-weight: 500;
}

.odwrocony{
    width: 248px;
    height: 296px;
    background-color: #FAF9F6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    transform: rotateY(90deg);
    text-align: center;
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    transition: all 0.25s;
}

.odwrocony a{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.odwrocony a:hover{
    font-weight: 600;
}


.caly_kaf:hover div.kafelek{
    transform: rotateY(90deg);

    transition: all 0.25s;
    
}

.caly_kaf:hover div.odwrocony{
   transform: rotateY(0deg);

   transition: all 0.25s 0.25s;
}



#section-4{
    margin-top: 324px;
    margin-bottom: 524px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#kafelki-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kafelek-2 h4 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 16px;
}

.kafelek-2{
    width: 424px;
    background-color: #FAF9F6;
    border-radius: 32px;
    margin: 32px;
    padding: 32px 40px 32px 40px;
    line-height: 150% !important;

    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
    transition: transform .2s;

}
.kafelek-2:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

#section-5 {
    
}

#carousel-div{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opinia{
    width: 620px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 94px 1fr;
    justify-content: end;
    align-items: end;
}

.opinia p {
    margin: 5px 10px 5px 10px;
    padding: 0px 15px 0px 15px;

}

#next{
    position: absolute;
    right: -30px;
    top: 50%;
}
#next:hover,#prev:hover{
    cursor:pointer;
}

#prev{
    position: absolute;
    left: -50px;
    top: 50%;
    display: none;
    transform: rotate(-0.5turn);
}

#opinie{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    flex-direction: row;
    overflow-x: auto !important;
}

#opinie::-webkit-scrollbar{
    display: none;
}

#section-6{
    margin-top: 800px;
    background-color: #1179db;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 96px 0px;
}


#kontakt{
    margin-top: 164px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAF9F6;
    width: 600px;
    height: 700px;
    border-radius: 20px;
    position: relative;
    padding-top: 10px;
    text-align: center;
}

#mail{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -96px;

    width: 162px;
    height: 162px;
    background-color: #FAF9F6;
    border-radius: 50%;
    border-style: solid;
    border-color: #1179db;
    border-width: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#kontakt form{
    padding: 40px;
    margin-top: 50px;
}

#kontakt h2{
    font-size: 40px;
}

#wiadomosc{
    height: 200px;
}

.input{
    background-color: #FFFFFF;
    width: 85%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 0;
    position: relative;
    padding-left: 20px;
}

.input::placeholder{
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
}

#submit{
    margin-top: 16px;

    text-align: center;
    background-color: #1179db;
    color: #FAFAF0 !important;
    font-size: 32px;
    font-weight: 500;

    width: fit-content;
    padding: 14px 48px 14px 48px !important; /* stary: padding: 15px 45px 15px 45px; */
    border-radius: 40px;
    border: none;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    transition: opacity .2s;
}

#submit:hover{
    opacity: 0.8;
    cursor: pointer;
    opacity: 0.8;
}




@media (max-width: 1150px){
    #kafelki{
        grid-template-columns: 1fr 1fr;
        padding-left: 20%;
        padding-right: 20%;
    }
    .kafelek{
        margin-top: 30px;
    }

    #kolo{
        height: 2200px;
    }
    #section-4 {
        margin-bottom: 600px;
    }
}



@media (max-width: 980px){
    #article-1{
        font-size: 40px;
    }

    #section-2{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        padding-top: 112px;
    }

    #article-3{
        max-width: 100vw;

    }
    #article-3 p{
        font-size: 18px;
    }

    h1{
        font-size: 40px;
    }

    #kafelki-2{
        grid-template-columns: 1fr;
    }

    #kolo{
        height: 2500px;
    }

    #section-5 h1{
        font-size: 35px !important;
    }
    .opinia{
        font-size: 16px !important;
        max-width: 480px;
        justify-content: center;
        align-items: center;
        grid-template-columns: 70px 1fr;
    }
    .opinia img{
        width: 60px;
    }
    #opinie{
        max-width: 480px;
    }
    #carousel-div{
        width: 520px;
    }



}


@media (max-width: 880px){
    #section-1{
        grid-template-columns: 1fr;
        grid-template-areas: "a-2"
                            "a-1";
        margin-left: 40px;
    }
    #article-1 {
        font-size: 56px;
    }
    #article-2{
        margin-left: auto;
        margin-right: auto;
        display: grid;
        margin-bottom: 90px;
    }
    #section-1 img{
        margin-top: 0px;
    }

    #zdjecie {
        height: 120px !important;
    }


    #section-5 h1{
        font-size: 40px ;
    }
    #article-3 {
        padding-top: 40px;
    }
}

@media (max-width: 700px){

    #kafelki{
        grid-template-columns: 1fr;
        padding-left: 30px;
        padding-right: 30px;
    }

    .kafelek{
        width: 270px;
        height: 332px;
    }

    .odwrocony{
        width: 270px;
        height: 332px;
    }

    #kolo{
        height: 3200px;
    }

    #kontakt{
        width: 85vw;
    }
    #section-5 h1{
        font-size: 30px !important;
    }
    #section-5{
        padding-left: 60px;
        padding-right: 60px;
    }
    .opinia{
        max-width: 500px;
        font-size: 16px;
        grid-template-columns:40px 1fr;
    }
    .opinia img {
        width: 40px;
    }
    #next{
        width: 40px;
        right: -20px;
    }
    #prev{
        width: 40px;
        left: -40px;
    }
    #carousel-div{
    max-width: 550px;
    }
    #opinie{
        max-width: 500px;
    }


    h1{
        font-size: 40px ;
    }
    h2{
        font-size: 20px ;
    }
    body{
        font-size: 18px ;
    }


}

@media (max-width: 550px){

    h1 {
        font-size: 48px !important;
    }

    #section-1{
        margin-left: 0;
    }
    #section-1 img{
        height: 400px;
    }
    #section-1 a{
        text-align: center;
    }
    

    
    .kafelek-2{
        width: 300px;
    }
    .kafelek-2:hover {
        transform: scale(1.1) !important;
    }

    .opinia{
        max-width: 350px;
        font-size: 16px;
        grid-template-columns:30px 1fr;
        padding-left: 20px;
        align-items: center;
    }
    .opinia img {
        width: 30px;
    }
    #next{
        width: 30px;
        right: -0;
        top: 58%;
    }
    #prev{
        width: 30px;
        left: -0;
        top: 58%;
    }
    #carousel-div{
        width: 400px;
    }
    #opinie{
        max-width: 350px;
    }
    #mail{
        width: 102px;
        height: 102px;
    }
    #mail img{
        width: 52px;
        height: 52px;
    }
    #mail{
        top: -60px;
    }

    #section-5 h1{
        font-size: 26px !important;
    }

    #section-6{
        height: 800px;
    }
    #kontakt{
        height: 450px !important;
    }
    #kontakt h2{
        font-size: 20px !important;
    }
    #kontakt form{
        margin-top: 50px;
        padding: 10px;
    }
    #wiadomosc{
        height: 100px;
    }
    #submit{
        font-size: 22px;
        width: 140px;
        height: 45px;
    }

    #section-4 {
        margin-bottom: 400px;
    }


}

@media (max-width: 450px){

    #article-1 {
        font-size: 42px !important;
    }
    #article-2 img{
        height: 350px !important;
    }
    #article-2 {
        margin-bottom: 20px;
    }
    #Więcej-usługi {
        padding: 16px 32px 16px 32px;
        font-size: 20px;
    }
    #article-3 {
        text-align: left;
        margin-top: 0px;
        padding-top: 16px;
    }
    #zdjecie {
        height: 80px !important;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .kafelek-2{
        width: 248px;
    }
    #section-5 h1{
        font-size: 20px !important;
    }
    .opinia{
        font-size: 12px !important;
        max-width: 280px;
        padding-left: 0;
    }
    .opinia img{
        width: 26px;
    }
    #opinie{
        max-width: 280px;
    }
    #carousel-div{
        width: 330px;
    }



}