body{
    font-family: "Montserrat";
    color: #1B1C27;
    font-size: 20px;
    padding-top: 60px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

h2{
    font-weight: 600;
    margin-bottom: 16px;
}

#section-1{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}


#article-1{
    font-size: 56px;
    font-weight: 500;
}

#article-2{
    font-size: 10px;
}

#Więcej-usługi{
    text-align: center;
    background-color: #5D9CF0;
    color: #FAF9F6;
    font-size: 32px;
    font-weight: 400;

    margin-top: 10px;
    width: fit-content;
    padding: 15px 45px 15px 45px;
    border-radius: 40px;

}


#section-2{
    margin-top: 104px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#article-3 p{
    font-size: 22px;
    line-height: 32px;
}

#kolo{
    padding-top: 182px;
    margin-top: 196px;
    border-radius: 50%;
    width: 2500px;
    height: 1800px;
    background-color: #E4EEF8;
}

#section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#kafelki{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kafelek{
    width: 248px;
    height: 296px;
    background-color: #FAF9F6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kafelek img{
    width: 96px;
    height: 96px;
    margin-top: 32px;
    margin-bottom: 20px;
}

.kafelek p{
    font-size: 32px;
    font-weight: 500;
}


#section-4{
    margin-top: 324px;
    margin-bottom: 524px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#kafelki-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kafelek-2{
    width: 406px;
    height: 204px;
    background-color: #FAF9F6;
    border-radius: 30px;
    margin: 30px;
    padding: 15px 40px 15px 40px;
    line-height: 30px;
}



.opinia{
    width: 680px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 94px 1fr 58px;
    justify-content: end;
    align-items: end;
}
.opinia p {
    margin: 5px 10px 5px 10px;
    padding: 0px 15px 0px 15px;

}

#section-6{
    margin-top: 656px;
    background-color: #5D9CF0;
    height: 1000px;
    width: 100%;
}


#kontakt{
    margin-top: 164px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAF9F6;
    width: 600px;
    height: 700px;
    border-radius: 20px;
    position: relative;
    margin-left: auto ;
    padding-top: 10px;

    text-align: center;
}

#mail{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -96px;

    width: 162px;
    height: 162px;
    background-color: #FAF9F6;
    border-radius: 50%;
    border-style: solid;
    border-color: #5D9CF0;
    border-width: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#kontakt form{
    padding: 40px;
    margin-top: 50px;
}

#kontakt h2{
    font-size: 40px;
}

.input{
    background-color: #FFFFFF;
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 0;
    position: relative;
    padding-left: 20px;
}

.input::placeholder{
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
}

#submit{
    margin-top: 30px;
    background-color: #5D9CF0;
    border-radius: 30px;
    width: 175px;
    height: 60px;
    color: #FAF9F6;
    font-size: 30px;
    border: none;
}


footer{
    width: 100vw;

}
#footer-1{
    background-color: #1B1C27;
    width: 100%;
    color: #FAF9F6;
    padding-bottom: 40px;
}

#footer-1-div{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
}


footer h2{
    font-weight: 400;
}


#footer-1-tresc-1{
    display: flex;
    flex-direction: column;
}

footer a{
    flex: 1;
    color: #FAF9F6;
    font-weight: 300;
    font-size: 18px;
}

footer a:hover{
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: font-weight .2s ease-in-out;
}

#footer-1-tresc-2{
    display: flex;
    flex-direction: column;
}

#footer-1-tresc-2 p{
    margin: 6px;
}

#footer-1-tresc-2 a{
    font-size: 20px;
}

#footer-2{
    width: 100%;
    background-color: #171820;
    text-align: center;
    height: 50px;
    color: #FAF9F6;
    display: flex;
    align-items: center;
    justify-content: center;
}