body{
    margin: 0;
    background-color: #FAF9F6;
}

main{    
    padding-left: 128px;
    padding-right: 128px;}

header{
    position: fixed;
    z-index: 1;
    background-color: rgba(250, 248, 245, 0.65);
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding-left: 128px;
    padding-right: 128px;
    box-shadow: 0px 0.01px 0.5px;

}

#blur{
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-color: #FAF9F6;
    opacity: 91%;
}

@media (max-width: 1150px) {
    main{
        padding-left: 10px;
        padding-right: 10px;
    }
    header{
        padding-left: 10px;
        padding-right: 10px;
    }
}


#div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


#logo{
    width: fit-content;
    font-size: 48px;
    font-weight: 500;
    padding-right: 50px;
}

a{
    text-decoration: none;
    color: #1B1C27;
}

a:hover{
    color: black;
    font-weight: 500;
    transition: font-weight .2s ease-in-out;
}
nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    
}

